@font-face{
    font-family: Larsseit;
    src: url('/app/fonts/Larsseit.ttf') format('truetype');
}

@font-face{
    font-family: Larsseit;
    src: url('/app/fonts/Larsseit-Light.ttf') format('truetype');
}

@font-face{
    font-family: Larsseit;
    src: url('/app/fonts/Larsseit-Medium.ttf') format('truetype');
}