@media (max-width:767px){
    body{
        padding: 0;
        margin: 0;
    }

    body.lock{
        overflow: hidden;
    }
    .header{
        max-width: 100%;
    }
    .navbar{
        height: 50px;
        margin-left: 25%;
        .header__logo span{
            font-size: 20px;
        }
    }
    .header__burger{
        display: block;
        position: absolute;
        margin-left:50%;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger span{
        position: absolute;
        background-color: #22356F;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before,
    .header__burger::after{
        content:'';
        position: absolute ;
        background-color: #22356F;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before{
        top: 0;
    }

    .header__burger::after{
        bottom: 0;
    }
    
    /*---------------------------------------------СПРЯТАЛИ МЕНЮ ПРИ УМЕНЬШЕНИИ ЭКРАНА----------------------------------------------------*/
    nav{
        position: fixed;
        top:-100px;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .header__images{
        display: none;
    }
   

    /*------------------------------------------------------НАЖАЛИ НА БУРГЕР---------------------------------------------------------*/
    .header__burger.active{
        top: 25px;
    }

    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }

    .header__logo.active{
         position: absolute;
        top: 25px;
      }
    
    .navbar.active{
        position: relative;
        margin-bottom: 150px;
    }


    nav.active{
        position: absolute;
        top: 50px;
        margin-left: -150px;
        ul.active{
          margin: 20px 0 0 0;
          height: 220px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          font-size: 20px;
          .contact_button{
              margin-left: 200px;
            }
        }
    }

/*---------------------------------------------------------A B O U T---------------------------------------------------------------------------*/

    .about{
        display: flex;
        flex-direction: column;
    }
    
    
    .about img{
            max-width: 100%;
    }

/*---------------------------------------------------------A B O U T  U S-----------------------------------------------------------------------*/

.about_us_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span:nth-child(2){
        margin-top: 50px;
    }
}

/*---------------------------------------------------------A B O U T  U S-----------------------------------------------------------------------*/
.help__items{
    display: grid;
    grid-template-rows: 4fr 4fr;
    grid-template-columns: 4fr 4fr;
    .help_item{
        max-width: 100%;
        font-size: 20px;
    }
}


/*-----------------------------------------------------A C T I V I T I E S-----------------------------------------------------------------------*/
.act__wrapper{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    .act{
        max-width: 100%;
    }
}

/*---------------------------------------------W H I T E  B L O C K S----------------------------------------------------------------------*/
.white__wrapper{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
}

/*---------------------------------------------S T A T I S T I C S----------------------------------------------------------------------*/
    .statistics{
        display: flex;
        flex-direction: column;
        .stat__typo{
            span:nth-child(2){
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    .statistics img{
        max-width: 100%;
    }

/*---------------------------------------------S U G G E S T I O N----------------------------------------------------------------------*/
.suggestion{
    display: flex;
    flex-direction: column;
    img{
        max-width: 100%;
    }
    .suggest__typo{
        span:nth-child(2){
            margin-top: 30px;
            font-size: 30px;
            line-height: 25px;
        }
        span:nth-child(3){
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 20px;
            line-height: 25px;
        }
       
    }
}

/*----------------------------------------------------------I N F O----------------------------------------------------------------------*/
.info__screen{
    display: flex;
    flex-direction: column;
}

.info__screen img{
    max-width: 100%;
}

}


