@import "vars";
@import "libs";
@import "fonts";

body{
    padding: 0;
    margin: 0;
    font-family: Larsseit;
    font-weight: bold;
    background-color: #F4F9E2;
    overflow-x: hidden;

}


.header{
    margin-left: auto;
    margin-right: auto;
    max-width: 1010px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*--------------------------------------------------N A V B A R-------------------------------------------------------------*/
   
    .navbar{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__logo{
            font-size: 24px;
            color: #62D0DF;
            z-index: 3;
        }

        // .header__burger{
        //     display: none;
        // }

        li:nth-child(1){
            width: 55px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: bold;
        }

        li .underline{
            position: static;
            width: 50px;
            height: 5px;
            top: 62px;
            background: #F4F9E2;
            box-shadow: inset 0px -1px 0px #22356F;
        }
        ul{
            width: 550px;
            font-size: 14px;
            color:#22356F;
            font-weight: normal;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            li{
                align-self: center;
                margin: 0 0 0 20px;
            }
            .contact_button{
                margin-left: 100px;
                width: 150px;
                height: 50px;
                left: 1159px;
                top: 27px;
                color: white;
                background: #62D0DF;
                border-radius: 50px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        
    }

    .navbar::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        
    }

    nav{
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        height: 80px; 
    }

    /*-----------------------------------------------C O N T E N T---------------------------------------------*/
   .header__content{
       margin-top: 164px;
       max-width: 484px;
       height: 420px;
       display: flex;
       
       .header__typo{
           display:flex;
           flex-direction: column;
           justify-content: space-between;
       }
       h3{
        color: #62D0DF;
        font-size: 23px;
       }
       .header__title{
        color: #22356F;
        font-size: 48px;
        font-weight: bold;
       }
       span{
        line-height: 45px;
        color: #22356F;
        font-size: 23px;
        font-weight: normal;
       }
       .header__images{
           position: relative;
           right: -40px;
           top: -260px;
   
       }
       .header__images img:nth-child(1){
        position: absolute;
        opacity: 0.2;
       }

       .header__images img:nth-child(2){
           position: absolute;
       }

       .header__buttons{
           display: flex;
       }
       
       .who_am_i{
        width: 150px;
        height: 50px;
        left: 179px;
        top: 715px;
        background: #F9B640;
        text-align: center;
        span{
            color: white;
            font-size: 16px;
            font-weight: bold;

        }
       }

       .who_do_i_do{
        width: 150px;
        height: 50px;
        margin-right: 38px;
        left: 179px;
        top: 715px;
        background:  #F4F9E2;
        text-align: center;
        span{
            color:#F9B640;
            font-size: 16px;
            font-weight: bold;

        }
       }

   }

  
}
   /*----------------------------------------------------A B O U T-----------------------------------------------------------------------*/
 
   .about{
       background-color: #62D0DF;
       color:white;
       display: flex;
       .about__content{
           margin-left: auto;
           margin-right: auto;
           margin-top: 181px;
           max-width: 555px;
           .about__title{
               margin-bottom: 75px;
               font-size: 36px;
               font-weight: bold;
           }
           .about__typo{
            line-height: 30px;
               span{
                   font-weight: bold;
                   font-size: 24px;
               }
               font-weight: normal;
               font-size:20px;
           }
       }
       img{
           max-width: 100%;
       }
   }

    /*----------------------------------------------------A B O U T  U S-----------------------------------------------------------------------*/

   .about_us{
    color: #22356F;
     .about_us_wrapper{
         margin-top: 150px;
         margin-left: 106px;
         max-width: 910px;
         display: flex;
         span:nth-child(1){
             white-space: nowrap;
             margin-right: 225px;
             font-size: 16px;
             line-height: 24px;
             letter-spacing: 0.06em;
             font-weight: normal;
         }
         span:nth-child(2){
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.005em;
         }
     }
   }

    /*--------------------------------------------------H E L P  S C R E E N-------------------------------------------------------------*/
   .help__screen{
       margin-top: 75px;
       text-align: center;
       span{
        margin-bottom: 211px;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.06em;
        color: rgba(34, 53, 111, 0.5);
       }
       .help__items{
           margin-top: 24px;
           display: grid;
           grid-template-columns: 1fr 1fr 1fr 1fr;
       }

       .help__rect{
           margin-bottom: 30px;
       }

    
       .help__items .weight{
           background-color: #FFE2DE;
           display: flex;
           flex-direction: column;
           align-items: center;
           span{
            color:white;
            font-size: 32px;
            line-height: 29px;
            letter-spacing: -0.006em;
            }
           .help__rect{
            width: 255px;
            height: 72px;
            background: #FFE2DE;
            box-shadow: inset 0px -1px 0px #FFFFFF;
           }
       }
       .help__items .running{
        background-color:  #C4E769;
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            color:white;
            font-size: 32px;
            line-height: 29px;
            letter-spacing: -0.006em;
        }
        .help__rect{
            width: 255px;
            height: 72px;
            background: #C4E769;
            box-shadow: inset 0px -1px 0px #FFFFFF;
           }
        }
        .help__items .pumping{
            background-color: #62D0DF;
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                color:white;
                font-size: 32px;
                line-height: 29px;
                letter-spacing: -0.006em;
            }
            .help__rect{
                width: 255px;
                height: 72px;
                background: #62D0DF;
                box-shadow: inset 0px -1px 0px #FFFFFF;
               }
        }
        .help__items .upgrade{
            background-color: #0052C1;
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                color:white;
                font-size: 32px;
                line-height: 29px;
                letter-spacing: -0.006em;
            }
            .help__rect{
                width: 255px;
                height: 72px;
                background: #0052C1;
                box-shadow: inset 0px -1px 0px #FFFFFF;
               }
        }

   }


   /*----------------------------------------------A C T I V I T I E S  S C R E E N--------------------------------------------------------------*/
   .activities{
       margin-top: 120px;
   }
   .act__wrapper{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 2fr 2fr;
       color: white;
       .act{
           display:flex;
           flex-direction: column;
          
       }
       .physical{
        background-color: #22356F;
        padding-bottom: 282px;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 29px;
        letter-spacing: -0.006em;
        .help__rect{
            align-self: center;
            width: 340px;
            height: 72px;
            background: #22356F;
            box-shadow: inset 0px -1px 0px #FFFFFF;
           }
           span{
               margin-left: 85px;
           }
   }
     .mental{
        background-color: #0052C1;
    
        font-weight: bold;
        font-size: 32px;
        line-height: 29px;
        letter-spacing: -0.006em;
        .help__rect{
            align-self: center;
            width: 340px;
            height: 72px;
            background: #0052C1;
            box-shadow: inset 0px -1px 0px #FFFFFF;
           }
           span{
            margin-left: 85px;
        }
    }
     .nutrition{
        background-color: #22356F;
        background-image: url('../img/joanna-kosinska-340748.png');
        background-size: 510px ;
        font-weight: bold;
        font-size: 32px;
        line-height: 29px;
        letter-spacing: -0.006em;
        .help__rect{
            margin-top: 72px;
            align-self: center;
            width: 340px;
            height: 1px;
            background:  #FFFFFF;
           }
           span{
            margin-left: 85px;
        }
    }
    .gymnastics{
        background-color: #62D0DF;
 
        font-weight: bold;
        font-size: 32px;
        line-height: 29px;
        letter-spacing: -0.006em;
        .help__rect{
            align-self: center;
            width: 340px;
            height: 72px;
            background: #62D0DF;
            box-shadow: inset 0px -1px 0px #FFFFFF;
           }
           span{
            margin-left: 85px;
        }
    }
     .crossfit{
        background-color: #DEE1FF;

        font-weight: bold;
        font-size: 32px;
        line-height: 29px;
        letter-spacing: -0.006em;
        .help__rect{
            align-self: center;
            width: 340px;
            height: 72px;
            background: #DEE1FF;
            box-shadow: inset 0px -1px 0px #FFFFFF;
           }
           span{
            margin-left: 85px;
        }
    }
     .aerobics{
        background-color: #8F00FF;
  
        font-weight: bold;
        font-size: 32px;
        line-height: 29px;
        letter-spacing: -0.006em;
        .help__rect{
            align-self: center;
            width: 340px;
            height: 72px;
            background: #8F00FF;
            box-shadow: inset 0px -1px 0px #FFFFFF;
           }
           span{
            margin-left: 85px;
        }
    }
   }

    /*-------------------------------------------------W H I T E  B L O C K S--------------------------------------------------------------*/

    .white__blocks{
        margin-top: 20px;
    }
    .white__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 2fr;    
        .white__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            span:nth-child(1){
                margin-top: 119px;
                font-size: 28px;
                line-height: 33px;
                letter-spacing: -0.03em;
                color: #22356F;
            }
            span:nth-child(2){
                margin-top: 28px;
                width: 298px;
                font-size: 16px;
                line-height: 25px;
                letter-spacing: -0.03em;
                color: rgba(34, 53, 111, 0.5);
            }
        }    

    }

     /*-------------------------------------------------S T A T I S T I C S--------------------------------------------------------------*/
     .statistics{
         margin-top: 40px;
         display: flex;
     }
     .stat__typo{
         display: flex;
         flex-direction: column;
         margin: 103px 106px;
         margin-right: 175px;
         justify-content: space-between;
         color:#22356F;
         span:nth-child(1){
            font-size: 16px;
            line-height: 12px;
            letter-spacing: 0.06em;
         }
         span:nth-child(2){
            font-size: 36px;
            line-height: 53px;
            letter-spacing: -0.01em;

         }
         span:nth-child(3){
            font-size: 16px;
            line-height: 23px;
            display: flex;
            align-items: center;
            letter-spacing: 0.1em;
            color: #FAB63E;
         }
     }
    
     /*-------------------------------------------------------S U G G E S T I O N-------------------------------------------------------------*/

     .suggestion{
         display: flex;
         background-color: #22356F;
     }

     .suggest__typo{
         margin: 103px 180px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         span:nth-child(1){
            font-size: 16px;
            line-height: 12px;
            letter-spacing: 0.06em;
            color: #FFFFFF;
         }
         span:nth-child(2){
            font-size: 64px;
            line-height: 94px;
            letter-spacing: -0.01em;
            color: #FFFFFF;

         }
         span:nth-child(3){
            font-size: 36px;
            line-height: 53px;
            letter-spacing: -0.005em;
            color: #FFFFFF;
         }
         span:nth-child(4){
            font-size: 16px;
            line-height: 23px;
            display: flex;
            align-items: center;
            letter-spacing: 0.1em;
            color: #62D0DF;
         }
     }
    
     /*------------------------------------------------------I N F O  S C R E E N-------------------------------------------------------------*/

    .info__screen{
        display: flex;
    }

    .info__typo{
        margin: 98px 68px;
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        .info__item{
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span:nth-child(1){
                font-size: 14px;
                line-height: 11px;
                letter-spacing: -0.006em;
                color: #22356F;
            }
            span:nth-child(2){
                font-size: 14px;
                line-height: 23px;
                letter-spacing: -0.006em;
                color: rgba(34, 53, 111, 0.5);
            }
        }
    }
    /*------------------------------------------------------F O O T E R----------------------------------------------------------------*/

    .footer{
        background-color: #62D0DF;
        .footer__typo{
            padding: 37px 179px;
            font-size: 14px;
            line-height: 11px;
            letter-spacing: -0.006em;
            color: #FFFFFF;
        }
        
       
    }
  
@import "media";
